@import "./base.css";

.btn-link {
    background-color: var(--orange-color);
    color: #fff;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in;

    &:hover {
        color: var(--light-green-color);
        background-color: var(--light-orange-color);
    }
}

.nav__logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--orange-color);
    gap: 0.5rem;

    .bx {
        font-size: 24px;
        color: var(--orange-color);
    }
}
